# Kiwilytics Python Project

### Importing needed libraries

In [1]:
import pandas as pd

In [2]:
# load the dataset
df = pd.read_csv("kiwilytics_orders.csv")
# show the head of the dataset (first 5 rows)
df.head()

   order_id customer_name     product  quantity  unit_price  order_date
0         1         Maria  Kiwi Chips         2         3.0  2024-01-29
1         2       Richard  Kiwi Chips         1         3.0  2024-01-08
2         3      Nicholas  Kiwi Candy         1         2.5  2024-01-25
3         4       Raymond  Kiwi Candy         4         NaN  2024-01-04
4         5         David  Kiwi Juice         1         4.5  2024-02-25

### What is the shape of the dataset after loading the CSV file?

In [7]:
# print the shape of the dataset
df.shape

(100, 6)

In [15]:
# describtion of numerical columns
df.describe()

         order_id    quantity  unit_price
count  100.000000  100.000000   92.000000
mean    50.500000    2.910000    3.961957
std     29.011492    1.371389    1.326471
min      1.000000    1.000000    2.500000
25%     25.750000    2.000000    2.500000
50%     50.500000    3.000000    3.750000
75%     75.250000    4.000000    5.500000
max    100.000000    5.000000    6.000000

In [10]:
# null values of each column
df.isnull().sum()

order_id         0
customer_name    0
product          0
quantity         0
unit_price       8
order_date       0
dtype: int64

### What is the total revenue after filling in the missing unit prices with the average price for each product?

In [18]:
# filling missing values in unit_price with the mean of each product
df['unit_price'] = df.groupby('product')['unit_price'].transform(lambda x: x.fillna(x.mean()))

df['total_price'] = df['quantity'] * df['unit_price']
total_revenue = df['total_price'].sum()

print("Total Revenue after filling missing prices:", total_revenue)

Total Revenue after filling missing prices: 1167.5

### Which product has the highest total quantity sold?

In [26]:
# group the total quantity by product
quantity_per_prod = df.groupby('product')['quantity'].sum()
#print(quantity_per_prod)
top_product = quantity_per_prod.idxmax()
print("Product with the highest quantity sold is:", top_product)

Product with the highest quantity sold is: Kiwi Chips

### Which customer has the highest total spending across all orders?

In [27]:
# group the spending by customer_name
spending_per_customer = df.groupby('customer_name')['total_price'].sum()
top_customer = spending_per_customer.idxmax()
print("Customer with the highest spending is:", top_customer)

Customer with the highest spending is: Eric